.item-card {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
}

.item-card-title {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--bg-title);
  margin: 0;
  padding: 16px;
}

.item-card-content {
  padding: 16px;
  background-color: var(--bg-half-elevated);
  white-space: break-spaces;
  max-height: calc(100vh - 160px);
  overflow: auto;
}

.item-card .item-evo-list {
  width: 100%;
}
.item-card .item-evo-ingredients {
  width: unset;
  justify-content: space-evenly;
}
