.item-evo-tree {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}
.item-evo-tree table {
  border-spacing: 4px;
}
.item-evo-tree tr {
  background-color: transparent;
}
.item-evo-tree td {
  background-color: var(--bg-half-elevated);
}
.item-evo-tree td.empty {
  background-color: transparent;
}
