.item-evo-grouped {
  min-width: 250px;
  columns: 250px auto;
}
.item-evo-ingredients {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--bg-elevated);
  width: fit-content;
}
.item-evo-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  flex-wrap: wrap;
  max-height: 600px;
}
.separator {
  font-size: 20px;
  font-weight: 500;
}
