.popover-container {
  position: relative;
  display: inline-block;
}

.popover-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  /* background-color: var(--bg-elevated); */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  /* padding: 15px; */
  z-index: 1000;
  white-space: nowrap;
}
