.popover-container {
  position: relative;
  display: inline-block;
}

.popover-trigger {
}

.popover-content {
  position: absolute;
  transform: translateY(-50%) translateX(16px);
  margin-right: 0;
  margin-left: 8px;
  background-color: var(--bg-main);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  padding: 16px;
  z-index: 1000;
  white-space: nowrap;
}

.popover-content.left {
  transform: translateY(-50%) translateX(-100%) translateX(-16px);
  margin-right: 8px;
  margin-left: 0;
}
