#root {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #242424;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  background-color: #00000020;
}

.body {
  flex: 1;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  overflow: auto;
}

footer {
  padding: 32px;
  background-color: #00000020;
}

.title h1 {
  margin: 0;
}

table {
  text-align: left;
  border-spacing: 0;
  border-top: 2px solid #242424;
  border-left: 2px solid #242424;
}
table th {
  background-color: #151515;
  font-weight: 500;
  background-clip: border-box;
}
table .item-text {
  padding: 4px 8px;
}

td,
th {
  padding: 4px;
  border-right: 2px solid #242424;
  border-bottom: 2px solid #242424;
}

table tr {
  background-color: #202020;
}

.item-icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
