#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

table {
  text-align: left;
}
table th {
  background-color: #00000040;
  font-weight: 500;
}
table .item-text {
  padding: 4px 8px;
}
table tr {
  background-color: #00000020;
}

.item-icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
