body {
  --bg-light: #262626;
  --bg-half-elevated: #202020;
  --bg-elevated: #1b1b1b;
  --bg-title: #161616;
}

#root {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-light);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 32px 32px 0 32px;
  background-color: var(--bg-half-elevated);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav .route {
  color: inherit;
  padding: 16px 32px;
}
.nav .route.route-active {
  background-color: var(--bg-light);
}

.body {
  flex: 1;
  max-width: 1600px;
  padding: 2rem;
  overflow: auto;
}

footer {
  padding: 32px;
  background-color: var(--bg-half-elevated);
}

.title h1 {
  margin: 0;
}

table {
  text-align: left;
  border-spacing: 0;
}
table th {
  background-color: var(--bg-title);
  font-weight: 500;
  background-clip: border-box;
}
table .item-text {
  padding: 4px 8px;
}

td,
th {
  padding: 4px;
  box-sizing: border-box;
  border: 2px solid var(--bg-light);
}

table td {
  background-color: var(--bg-half-elevated);
}

.item-icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
