#root {
  margin: 0;
  width: 100vw;
}

.card {
  padding: 2em;
}

.title {
  padding: 32px 64px;
  background-color: #00000020;
}

.body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  padding: 32px 64px;
  background-color: #00000020;
}

.title h1 {
  margin: 0;
}

table {
  text-align: left;
}
table th {
  background-color: #00000040;
  font-weight: 500;
}
table .item-text {
  padding: 4px 8px;
}

td,
th {
  padding: 4px;
}

table tr {
  background-color: #00000020;
}

.item-icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
