#root {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #242424;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 32px;
  background-color: #00000020;
}
.nav {
  display: flex;
  flex-direction: row;
  padding: 0 32px;
  background-color: #00000020;
}

.nav .route {
  color: inherit;
  padding: 16px 32px;
}
.nav .route.route-active {
  background-color: #242424;
}

.body {
  flex: 1;
  max-width: 1600px;
  padding: 2rem;
  overflow: auto;
}

footer {
  padding: 32px;
  background-color: #00000020;
}

.title h1 {
  margin: 0;
}

table {
  text-align: left;
  border-spacing: 2px;
}
table th {
  background-color: #151515;
  font-weight: 500;
  background-clip: border-box;
}
table .item-text {
  padding: 4px 8px;
}

td,
th {
  padding: 4px;
}

table tr {
  background-color: #202020;
}

.item-icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
