#root {
  color: var(--font-color);
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-main);
  overflow: auto;
  display: flex;
  flex-direction: column;
  --body-max-width: 1500px;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-half-elevated);
}

.title {
  max-width: var(--body-max-width);
  flex: 1;
  padding: 32px 32px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav .route {
  color: inherit;
  padding: 16px 32px;
}
.nav .route.route-active {
  background-color: var(--bg-main);
}

.body {
  flex: 1;
  max-width: var(--body-max-width);
  width: 100%;
  padding: 2rem;
  overflow: auto;
}

.body-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-main);
}

.footer-text {
  flex: 1;
  max-width: var(--body-max-width);
  padding: 32px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-half-elevated);
}

.title h1 {
  margin: 0;
}

table {
  text-align: left;
  border-spacing: 0;
}
table th {
  background-color: var(--bg-title);
  font-weight: 500;
  background-clip: border-box;
}
table .item-text {
  padding: 4px 8px;
}

td,
th {
  padding: 4px;
  box-sizing: border-box;
  border: 2px solid var(--bg-main);
}

table td {
  background-color: var(--bg-half-elevated);
}

.item-icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
