:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  font-weight: 500;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  --bg-main: #262626;
  --bg-half-elevated: #202020;
  --bg-elevated: #1b1b1b;
  --bg-title: #161616;
  --font-color: #ffffffde;
}

@media (prefers-color-scheme: light) {
  body {
    --bg-main: #eeeeee;
    --bg-half-elevated: #d5d5d5;
    --bg-elevated: #bdbdbd;
    --bg-title: #b0b0b0;
    --font-color: #000000de;
  }
}
